<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPGXc6baBilPOlLMiQr6sL-1yRXU6Sfw8</string>
	<key>GCM_SENDER_ID</key>
	<string>542589366256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>srijan6</string>
	<key>STORAGE_BUCKET</key>
	<string>srijan6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542589366256:ios:6885e298465b585b037735</string>
	<key>DATABASE_URL</key>
	<string>https://srijan6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>